services:
  finditnow-postgres:
    image: postgres:15.15
    container_name: finditnow-postgres
    restart: unless-stopped
    env_file:
      - ../.env
    environment:
      - POSTGRES_USER=${DB_USER:-devuser}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-dev@123}
    ports:
      - "${DB_PORT:-5433}:5432"
    volumes:
      - "./data/postgres:/var/lib/postgresql/data"

  finditnow-redis:
    image: redis:8.4.0
    restart: unless-stopped
    volumes:
      - ./data/redis:/data
    ports:
      - "${REDIS_PORT:-6379}:6379"