services:
  finditnow-postgres:
    image: postgres:15.15
    container_name: finditnow-postgres
    restart: unless-stopped
    env_file:
      - ../.env
    environment:
      - POSTGRES_USER=${DB_USER:-devuser}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-dev@123}
    ports:
      - "${DB_PORT:-5433}:5432"
    volumes:
      - "./data/postgres:/var/lib/postgresql/data"

  finditnow-redis:
    image: redis:8.4.0
    restart: unless-stopped
    volumes:
      - ./data/redis:/data
    ports:
      - "${REDIS_PORT:-6379}:6379"

  finditnow-nginx:
    image: nginx:alpine
    container_name: finditnow-nginx
    restart: unless-stopped
    env_file:
      - ../.env
    environment:
      - NGINX_ENVSUBST_TEMPLATE_SUFFIX=.template
      - AUTH_SERVICE_PORT=${AUTH_SERVICE_PORT:-8080}
      - USER_SERVICE_PORT=${USER_SERVICE_PORT:-8081}
      - SHOP_SERVICE_PORT=${SHOP_SERVICE_PORT:-8083}
    ports:
      - "${NGINX_PORT:-80}:80"
    volumes:
      - ./nginx/nginx.conf.template:/etc/nginx/templates/nginx.conf.template:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: sh -c "rm -f /etc/nginx/conf.d/default.conf && /docker-entrypoint.sh nginx -g 'daemon off;'"
